<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.lgx.spring.bean.MyBean" id="myBean" scope="singleton"
          init-method="myInit" destroy-method="myDestroy">
        <property name="userName" value="liguoxi"/>
    </bean>
    <bean class="com.lgx.spring.bean.MyBeanPostProcessor" id="myBeanPostProcessor"/>

</beans>
